.bg-blue
    background-color #2196f3
.bg-metal-blue-light 
    background-color #3394c6
.bg-metal-blue 
    background-color #007ab8
.bg-amber 
    bacground-color #FFC107
.bg-red
    background-color #f44336
.bg-teal
    background-color teal
.bg-yellow 
    background-color rgb(252, 147, 9)
.bg-green
    background-color #4caf50
.bg-gold
    background-color #b69f4f
.bg-white
    background-color white 
.bg-black 
    background-color black
.bg-gray 
    background-color #eee
.bg-lightgray
    background-color #f0f0f0
.bg-blue-transparent 
    background-color rgba(#2196f3, .5)
.bg-black-transparent 
    background-color rgba(black, .5)
.bg-white-transparent 
    background-color rgba(white, .5)
.bg-gradiant-gold-white 
    background-image linear-gradient(to right, #b69f4f , white)
.bg-gradiant-black-white 
    background-image linear-gradient(to right, rgba(black, .80) , white)
.bg-gradiant-silver-white 
    background-image linear-gradient(to right, silver, white)
.bg-gradiant-blue-white 
    background-image linear-gradient(to right, #2196f3, white)
.bg-gradiant-metal-blue-white 
    background -webkit-linear-gradient(-45deg,  #3394c6 38%,#eee 62%)
.box-shadow-none 
    box-shadow none
.box-shadow-white 
    box-shadow 1px 1px 4px white
.box-shadow-black 
    box-shadow 1px 1px 4px black
.box-shadow-gray
    box-shadow 1px 1px 4px gray
.hover-bg-black 
    transition .3s 
    &:hover
        background: rgba(black, .5) 
.hover-bg-light-black 
    transition .3s 
    &:hover
        background: rgba(black, .25)
.hover-box-shadow-black 
    transition .3s 
    &:hover
        box-shadow: 1px 1px 4px black
.hover-box-shadow-white 
    transition .3s 
    &:hover
        box-shadow: 1px 1px 4px white
.hover-box-shadow-gold 
    transition .3s 
    &:hover
        box-shadow: 1px 1px 4px gold
.hover-box-shadow-metal-blue 
    transition .3s 
    &:hover
        box-shadow: 1px 1px 4px #007ab8
@media (min-width: 576px) 
    .box-shadow-sm-gray
        box-shadow 1px 1px 4px gray
