.border  
    border-style solid
    border-width 1px
.border-none
    border none
.border-bottom
    border-bottom-style solid
    border-bottom-width 1px
.border-top
    border-top-style solid
    border-top-width 1px
.border-left
    border-left-style solid
    border-left-width 1px
.border-right
    border-right-style solid
    border-right-width 1px
.border-red 
    border-color #f44336
.border-gray 
    border-color gray 
.border-light-gray
    border-color rgba(0, 0, 0, 0.23)
.border-black 
    border-color black
.border-white
    border-color white 
.border-metal-blue
    border-color #007ab8
.rounded 
  border-radius: 0.25rem !important;
.rounded-top 
  border-top-left-radius 0.25rem !important
  border-top-right-radius 0.25rem !important
.rounded-right 
  border-top-right-radius 0.25rem !important
  border-bottom-right-radius 0.25rem !important
.rounded-bottom 
  border-bottom-right-radius 0.25rem !important
  border-bottom-left-radius 0.25rem !important
.rounded-left 
  border-top-left-radius 0.25rem !important
  border-bottom-left-radius 0.25rem !important
.rounded-circle 
  border-radius 50% !important
.rounded-pill 
  border-radius 50rem !important
.rounded-0 
  border-radius 0 !important

@media (min-width: 576px) 
    .border-sm
        border-style solid
        border-width 1px
    .border-sm-bottom
        border-bottom-style solid
        border-bottom-width 1px
    .border-sm-top
        border-top-style solid
        border-top-width 1px
    .border-sm-left
        border-left-style solid
        border-left-width 1px
    .border-sm-right
        border-right-style solid
        border-right-width 1px
@media (min-width: 992px) 
    .border-md
        border-style solid
        border-width 0
        border-width 1px
    .border-md-bottom
        border-bottom-style solid
        border-width 0
        border-bottom-width 1px
    .border-md-top
        border-top-style solid
        border-width 0
        border-top-width 1px
    .border-md-left
        border-left-style solid
        border-width 0
        border-left-width 1px
    .border-md-right
        border-right-style solid
        border-width 0
        border-right-width 1px

@media (min-width: 1200px) 
    .border-lg
        border-style solid
        border-width 1px
    .border-lg-bottom
        border-bottom-style solid
        border-bottom-width 1px
    .border-lg-top
        border-top-style solid
        border-top-width 1px
    .border-lg-left
        border-left-style solid
        border-left-width 1px
    .border-lg-right
        border-right-style solid
        border-right-width 1px
