.title-nav
    display none
@media (min-width: 576px) 
    .title-nav
        display flex
        font-size .9em
@media (min-width: 768px) 
    .title-nav
        display flex
        font-size 1.2em


